$mainBackground: rgba(244, 244, 244, 1);
$pinkColor: rgb(234, 93, 128);
$whiteColor: #ffffff;
$blackText: rgba(24, 27, 50, 1);
$GreyTextColor: rgba(102, 102, 128, 1);
$orangeColor: rgba(243, 157, 144, 1);
