$mainBackground: rgba(244, 244, 244, 1);
$pinkColor: rgb(234, 93, 128);
$whiteColor: #ffffff;
$blackText: rgba(24, 27, 50, 1);
$GreyTextColor: rgba(102, 102, 128, 1);
$orangeColor: rgba(243, 157, 144, 1);

$familyJostBold: 'Jost-Bold', sans-serif;
$familyJostMedium: 'Jost-Medium', sans-serif;
$familyJostRegular: 'Jost-Regular', sans-serif;
$familyDMSansBold: 'DMSans-Bold', sans-serif;
$familyDMSansRegular: 'DMSans-Regular', sans-serif;

$bold: 600;
$normal: 500;
$light: 400;
